<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{page.title}}</title>
	<!-- <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon.png" /> -->
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/default.css">

	<link rel="stylesheet" href="http://yandex.st/highlightjs/7.1/styles/default.min.css">
	<script src="http://yandex.st/highlightjs/7.1/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<style type="text/css">
	code.highlighter-rouge {
		background: #f0f0f0
	}
	</style>
</head>

<body>
	<main class="container">
		<div class="wrapper">
			{{content}}
		</div>
	</main>

	{% include sidebar.html %}

</body>
</html>